*{
    margin: 0;
    padding: 0;
}

body{
    background: url(https://media.prod.mdn.mozit.cloud/attachments/2012/07/09/3466/a3398e03c058d99fb2b7837167cdbc26/no-dimensions-1x1-ratio.svg);
}


menu{
    height: 45px;
    
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items:center;
    justify-content: space-between ;
    padding: 50px 30px 0px 30px;
    position: relative;
    list-style-type: none;
    
    
}

.menu-item{
    color: red;
    background: gray;
    padding: 10px 30px;
    
}

.posts{
    margin: 10px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.8);
}
